.content {
  display: flex;
}

.content div {
  margin: 10px;
}

.memo-list ul {
  margin: 0;
  padding: 0;
}

.memo-list ul,
li {
  list-style: none;
}

.memo-list li {
  margin: 10px 20px;
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

.new-memo-button div {
  margin: 10px 20px;
  display: inline-block;
  cursor: pointer;
}

.memo-form textarea {
  width: 200px;
  height: 300px;
}

.memo-form button {
  margin: 5px;
}

.memo-form .edit-button {
  width: 100px;
}

.memo-form .delete-button {
  width: 50px;
}

.loginSection {
  width: 500px;
}

.loginButton {
  display: block;
  margin-left: 280px;
  margin-top: 20px;
}
